main li{
    list-style-position:outside;
    margin-left: 1.5em;
}
header img{
    width: 2.5em;
}
main{
    margin-top: 4em;
}
main h3{
    font-size: 1.6em;
    margin-bottom: 0.5em;
}
main p, main li{
    font-size: 1em;
}
main h6{
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}
.inner-head{
    font-weight: bold;
    margin-top: 1em;
    display: inline-block;
}
/* @media only screen and (min-width: 750px)
{
    body{
        font-size: xx-large;
    }
} */