body{
    background-image: linear-gradient(to right, #aeffa371, #f9ffa3, #f9ffa3, #f9ffa3, #f9ffa3, #aeffa371);
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}
.intro{
    /* background-image: linear-gradient(to right, #aeffa371, #f9ffa3, #f9ffa3, #f9ffa3, #f9ffa3, #aeffa371);
     */background-color: #e9ffc0;
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    padding-inline: 0.5em;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
}
.wrapper{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-inline: auto;
    width: min(100%, 400px);
}
.intro-img-con{
    flex: 1;
}
.intro-text-con{
    flex: 4;
    text-align: center;
}
.intro-text-con h1{
    margin: 0.3rem;
    margin-top: 0.8em;
}
.intro-text-con p{
    margin: 0.1em;
}
.intro-img-con img{
    width: 80px;
}
.log-par{
    display: flex;
    justify-content: center;
}
.loginbox{
    background-color: rgba(87, 184, 100, 0);
    padding: 20px;
    width: min(75%, 900px);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.329);
    max-width: 500px;
    margin-inline: auto;
    margin-bottom: 1.5em;
}
form{
    margin-inline: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
}
label h5{
    margin: 0;
    text-transform: capitalize;
}
input{
    background-color: rgba(0, 128, 0, 0);
    border: 2px solid black;
    height: 23px;
    width: 100%;
    margin-bottom: 10px;
}
.show-password-con{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.show-password-con p{
    margin: 0;
}
.show-password-con input{
    width: auto;
    margin: 0;
}
.gen-option{
    display: flex;
    justify-content: space-around;
}
.gen-input{
    display: flex;
}
.gen-input input{
    width: auto;
}
.warning-mes-for-signup{
    font-size: small;
}
.function-button{
    font-size: large;
    font-weight: bold;
    width: min(50%, 200px);
    margin-inline: auto;
}
.desktop-view-only{
    display: none;
}
@media only screen and (min-width: 750px)
{
    .desktop-view-only{
        display: block;
    }
    
    body{
        display: flex;
        justify-content: center;
    }
    .intro, .log-par{
        flex: 1;
        position: fixed;
        width: 50%;
        height: 100vh;
    }
    .intro{
        background-color: #4ebb3b;
        left: 0;
        align-items: flex-start;
    }
    .intro-text-con h1{
        margin: 0.5em;
        margin-bottom: 0.2em;
    }
    .intro-img-con img{
        width: 150px;
        margin-top: 20px;
    }
    .intro-text-con p{
        font-size: large;
    }
    .intro-text-con h2{
        margin-top: 2em;
        margin-bottom: 0.3em;
        font-size: xx-large;
    }
    .wrapper{
        flex-direction: column;
        font-size: xx-large;
    }
    .log-par{
        background-color: #d4f78e;
        right: 0;
        overflow: auto;
    }
    .loginbox{
        box-shadow: none;
        width: min(80%, 400px);
        display: flex;
        align-items: center;
    }
    form{
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.329);
        padding-inline: 50px;
        margin: auto;
    }
}