html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to right, #aeffa371, #f9ffa3, #f9ffa3, #f9ffa3, #f9ffa3, #aeffa371);
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    transition: all .5s linear;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bolder;
}
img{
    display: block;
    margin: auto;
}
a{
    text-decoration: none;
}
.bg-img{
    background-size: cover;
    background-position: center;
}
.bg-img-text-rap{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}
.bg-img-text-rap h3{
    font-size: x-large;
    text-align: center;
}
.bg-img-text-rap a{
    background-color: #00ff00;
    color: black;
    font-size: large;
    padding: 0.5em;
    border-radius: 10px;
}
.no-boxshadow{
    box-shadow: none;
}
.break-part h3{
    color: white;
}
header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008000;
    font-family: sans-serif;
    z-index: 100;
}
.icon-holder{
    display: flex;
    font-size: 10px;
    margin-left: 5px;
    margin: 3px 0 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-holder img{
    width: 34px;
    background-color: #002e00;
    border-radius: 50%;
    padding: 7px;
    z-index: 1;
}
.icon-holder h1{
    margin: 0;
    color: #008000;
    background-color: #002e00;
    border-radius: 8px;
    padding: 9px;
    padding-left: 13px;
    font-size: 15px;
    transform: translate(-13px, 0);
}
.header-signs-con{
    margin-right: 4px;
}
.sign-button{
    color: 000;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
    background-color: #00ff00;
    text-decoration: none;
    font-weight: bold;
}
.sign-button:hover{
    background-color: #43ff43;
}
.action-sign-con{
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translate(0, -10vh);
}
#action-sign{
    animation: actionBtnBounce 10s linear infinite;
}
@keyframes actionBtnBounce {
    0%{
        transform: translate(0, 0);
    }
    5%{
        transform: translate(0, -30px);
    }
    7%{
        transform: translate(0, 5px);
    }
    8%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(0, 0);
    }
}
.wrapper{
    padding-inline: 2em;
    max-width: 1200px;
    margin-inline: auto;
}

section{
    margin-top: 2.8em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    box-shadow: 0px 0px 6px 0px #a0a55d;
}
.img-sec img, .single-img-sec img{
    width: min(100%, 500px);
    display: block;
    margin: auto;
}
#why-choose-us-sec{
    flex-wrap: wrap;
}
#why-choose-us-sec h3{
    width: 100%;
    text-align: center;
    font-size: x-large;
}
.why-choose-con{
    /* background-color: #d3ffb7; */
    padding: 1em;
    width: min(400px, 80%);
}
.why-choose-con h5, .why-choose-con p{
    text-align: center;
}
.why-choose-con h5{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.why-choose-icon img{
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: #003900;
    border-radius: 50%;
}

.break-part{
    background-color: #004206;
}
.test-part{
    text-align: center;
}
.test-imgs{
    width: min(80%, 200px);
    border-radius: 50%;
    padding: 1em;
    background-color: yellow;
}
.test-card{
    margin: 1em;
    background-color: #025a0e;
    box-shadow: 0 0 5px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-with-float{
    margin-top: 0;
}
.floating-tit{
    background-color: #006609;
    border-top: 5px solid #004206;
    border-left: 5px solid #004206;
    border-right: 5px solid #004206;
    width: fit-content;
    padding: 0.4em;
    margin-top: 1em;
    margin-left: 0.5em;
}
.test-card{
    min-width: 60%;
    max-width: 30px;
    padding: 1em;
}
.all-card-con{
    display: flex;
    gap: 2em;
    overflow-x: scroll;
}

.faq-container {
    width: min(100%, 1000px);
    margin: 0 auto;
  }

  .question {
    color: white;
    cursor: pointer;
    font-size: large;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #001400;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question:hover {
    background-color: #007000;
  }

  .answer {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    font-size: medium;
    background-color: #00d100;
  }

footer{
    margin-top: 2em;
    color: #ff0;
    background-color: #001201;
    text-align: center;
}
.footer-logo-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-footer-logo{
    background-color: #008000;
}
.footer-logo-part img{
    margin: 0;
    width: 30px;
}
.footer-parts-con{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
}
.footer-parts{
    max-width: 500px;
}
footer h5{
    color: white;
}
footer li{
    list-style-type: none;
}
footer a{
    color: #ff0;
}
.social-icons{
    margin-top: 0.5em;
    display: flex;
    justify-content: space-around;
}
.social-icons img{
    width: 30px;
}
h1.floating-tit{
    font-size: x-large;
    padding: 0.3em;
}
.team-card{
    min-width: 90%;
}
.team-def h4{
    font-size: x-large;
    color: yellow;
}
.team-def h5{
    font-size: x-large;
    color: yellow;
}
.team-def p{
    font-size: large;
    color: #adad00;
}
.cards-sec{
    margin-top: 3em;
    padding-bottom: 1em;
}
.entire-team-text{
    width: min(100%, 900px);
    margin: 1em auto;
    padding: 0.4em;
    border: 1px solid #000;
    color: #000;
}
.team-hero{
    background-image: url(/assets/images/focus\ on\ making\ moeny.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
.team-hero-text-con{
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    height: 40%;

}
.team-hero-text-con h1{
    width: 75%;
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}







@media only screen and (max-width: 350px)
{
    
    .icon-holder{
        margin-left: 5px;
        margin: 3px 0 3px 3px;
    }
    .icon-holder img{
        width: 28px;
        padding: 7px;
    }
    .icon-holder h1{
        border-radius: 8px;
        padding: 9px;
        padding-left: 13px;
        font-size: 10px;
        transform: translate(-13px, 0);
    }
    .header-signs-con{
        margin-right: 4px;
    }
    .sign-button{
        border-radius: 5px;
        padding: 5px;
        font-size: 10px;
    }
}
@media only screen and (min-width: 600px)
{
    body{
        font-size: x-large;
    }
    header{
        font-size: medium;
    }
    section{
        margin-top: 4em;
    }
    .social-icons img{
        width: 40px;
    }
    .team-card{
        min-width: 50%;
    }
}

@media only screen and (min-width: 800px)
{
    section{
        flex-direction: row;
    }
    .def-sec{
        flex: 1;
    }
    .img-sec{
        flex: 1;
    }
    .img-sec img{
        width: min(100%, 500px);
        display: block;
        margin: auto;
    }
}

.all-card-con::-webkit-scrollbar{
    background-color: #001201;
    box-shadow: 0px 0px 2px green;
}
.all-card-con::-webkit-scrollbar-track{
    background-color: #001201;
}
.all-card-con::-webkit-scrollbar-thumb{
    background-color: #0d5000;
}